<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片</title>
    <link type="text/css" rel="stylesheet" href="/static/bootstrap/3.3.7/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/cropperjs/1.5.9/cropper.min.css">
    <script src="/static/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bootstrap/3.3.7/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/cropperjs/1.5.9/cropper.min.js"></script>
</head>
<body>
<div class="panel">
    <div class="panel-body">
        <h2 class="h2">图片</h2>

        <div>
            <div class="form-group">
                <label for="show-type">请选择放置类型</label>
                <select id="show-type" class="form-control">
                    <option value="1.66">横放</option>
                    <option value="0.6">竖放</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image-file">请选择图片</label>
                <input type="file" id="image-file" accept="image/*">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-sm" id="crop">裁剪</button>
            </div>

            <div class="form-group">
                <label for="transpose">图片是否旋转</label>
                <select id="transpose" class="form-control">
                    <option value="0">不旋转</option>
                    <option value="2">顺时针90°</option>
                    <option value="4">逆时针90°</option>
                </select>
            </div>
            <div class="form-group">
                <label for="threshold">二值化阈值</label>
                <input type="number" class="form-control" id="threshold" value="0" >
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-sm" id="push">发布</button>
            </div>

        </div>

        <div class="panel-body">
            <div class="col-sm-6" id="crop-image" style="height: 800px;"></div>
            |
            <div class="col-sm-6" id="crop-preview"></div>
        </div>


    </div>
</div>
<script>
    $(function () {
        const cropImage = $('#crop-image');
        const previewImage = $('#crop-preview');
        var cropper;
        $('#image-file').change(function () {
            cropImage.empty();
            const file = this.files[0];
            const img = new Image();
            img.src = URL.createObjectURL(file);
            img.id = "image-upload";
            cropImage.append(img);
            cropper = new Cropper(img, {
                dragMode: 'move',
                aspectRatio: $('#show-type').val(),
                autoCropArea: 0.8,
                preview: '#preview'
            });
        });

        $('#crop').click(function () {
            previewImage.empty();
            previewImage.append(cropper.getCroppedCanvas(size()));
        });

        $('#push').click(function () {
            cropper.getCroppedCanvas(size()).toBlob((blob) => {
                const formData = new FormData();
                formData.append('image', blob);
                formData.append('transpose', $('#transpose').val())
                formData.append('threshold', $('#threshold').val())

                $.ajax('/api/image', {
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success() {
                        alert('发布成功');
                    },
                    error() {
                        alert('发布失败');
                    },
                });
            });
        })


        function size() {
            const rate = $('#show-type').val();
            var option = {
                width: 800,
                height: 480,
                imageSmoothingQuality: 'high'
            };
            if (rate === '0.6') {
                option = {
                    width: 480,
                    height: 800,
                    imageSmoothingQuality: 'high'
                };
            }
            return option;
        }
    })
</script>
</body>
</html>