<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frames</title>
    <link type="text/css" rel="stylesheet" href="/static/cropperjs/1.5.9/cropper.min.css">
    <script src="/static/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/cropperjs/1.5.9/cropper.min.js"></script>
</head>
<body>

<body>
<div>
    <input id="img-file" type="file"/></div>
<div id="uploadedImage"></div>
<div>
    <img id="corppedImage" src="">
</div>
</body>

<script>
    $(function () {
        var uploadedImageURL;
        var cropper = null;
        var options = {
            aspectRatio: 16 / 9,
            crop(event) {
                const canvas = this.cropper.getCroppedCanvas();
                $("#corppedImage").attr("src", canvas.toDataURL("image/png"));
            }
        };

        function getImage() {
            var files = this.files;
            var file;

            if (files && files.length) {
                file = files[0];
            }

            if (/^image\/\w+/.test(file.type)) {

                if (uploadedImageURL) {
                    URL.revokeObjectURL(uploadedImageURL);
                }

                if (cropper) {
                    cropper.destroy();
                }

                var newImg = new Image();
                newImg.src = uploadedImageURL = URL.createObjectURL(file);
                newImg.id = "myGreatImage";
                $("#uploadedImage").append(newImg);
                cropper = new Cropper(newImg, options);
            } else {
                window.alert('Please choose an image file.');
            }
            $("#img-file").val('');
        }

        $(document).ready(function () {
            $("#img-file").bind("change", getImage);
        });
    })
</script>
</body>
</html>